
<body style="background-color:powderblue;">
<h1 style="color:green;font-size:200%;font-family:verdana;text-align:center;">Alpha-blog</h1>

<center><%= image_tag('Thepaint.jpg', width: 250 , height: 400, alt: 'The Paint')%></center>
<p style="text-align:center;"><cite>The Paint</cite> by Some stranger. Unknown date.</p>


<center><%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %></center>
</body>