<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a ref= "https://www.udemy.com">The Complete RORDC</a>
      by <a href="https://twitter.com/ignaciovelabern">Ignacio Velazquez</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li> 
      </ul>
    </nav>
  </footer>
</div>